		.body-div{
    		background:white;

    		
    	}
    	.rwc{
			color: white;
		}
		.rfc {
			color: #8C8C8C;
			}

		 html input[type="button"] {
		    -webkit-appearance: button;
		    cursor: pointer;
		    border: 1px solid #ccc;
		}
		.rdiv-image{
			text-align: right;
    		height: 1.5rem;
    		line-height: 2rem;
		}
		.rrdiv-image:hover{
			cursor:hand;
			cursor:pointer;
		}
		.rbody-info{
			width: 41rem;
			margin: 0 auto;
		}
		.rlz-title{
			
		    height: 2rem;
		    
		    line-height: 2rem;
		    border-bottom: 2px solid #ccc;
		    font-size: 1.1rem;
		    font-family: inherit;
		}
		.raddress-div{
		    height: 3rem;
		    line-height: 3rem;
		    border-bottom: 1px solid #ccc;
		}
		
		.rinput{
			margin-left: 1rem;
		    width: 5.5rem;
		    height: 1.5rem;
		    border-radius: 5px;
		    background: white;
		    /* color: white; */
		    border: 1px solid #ccc;
		    color: #8C8C8C;
		}
		.raction{
			background: #42B6FF;
    		color: white;
    		border:none;
		}
		.raddr-eare{
			height: 2rem;
    		line-height: 2rem;
    		/* border: 1px solid red; */
		}
		.reare-ul{
			width: 32.7rem;
		    
		    overflow: hidden;
		    margin: 0 auto;
		}
		.reare-ul li{
			/* 
					   
					    margin-left: 1rem;
					    width: 5.5rem;
					   
					    
					   
					    text-align: center;
					    float: left; */
		font-size: 12px;
		width: 5.5rem;
	     height: 1.3rem;
	    margin-top: .2rem;
	   line-height: 1.3rem;
	     border: 1px solid #ccc;
	    /* background: #626262; */
	    /* color: white; */
	    text-align: center;
	     border-radius: 5px;
	    float: left;
	        margin: .3rem .7rem .3rem 0
		  
		}
		.rbg-img{
			background-image: url('image/tj.png');
		    background-repeat: no-repeat;
		    background-position: 78px;
		}
		.rother-eare{
			width: 7rem;
		    height: 1.5rem;
		    line-height: 1.5rem;
		    text-align: right;
		}
		.rneed-div{
			height: 1.8rem;
    		line-height: 1.9rem;
    		border-bottom: 1px solid #ccc;
		}
		.rzhang-ul{
			width: 100%;
    		height: 4rem;
		}
		.rzhang-ul li{
			width: 10rem;
		}
		
		.rjs-div{
			height: 4rem;
		    border-bottom: 1px solid #ccc;
		    border-top: 1px solid #ccc;
		}
		.rtotol-div{
			width: 25rem;
		}
		.rjs-div input{
			width: 7rem;
		    height: 2rem;
		    text-align: center;
		    color: white;
		    border-radius: 5px;
		     border: none;
		}
		.rbgBuy-color{
			background: #FF950B;
		}
		.rbgCart-color{
			background:#525252;
		}
		.rjia-li{
			text-align: center;
		    font-size: 1.4rem;
		    height: 3rem;
		    line-height: 3rem;
		}
		.rbg-li-img{
			width: 1rem;
		    height: 1rem;
		    border: 1px solid #ccc;
		    
		    border-radius: 3px;
		    margin-right: .3rem;
		}
		.rimgChecked{
			background-image: url('image/hdh.png');
		    background-repeat: no-repeat;
		    background-position: -2px;
		}
		.rwm{
			width: 5rem;
   			margin: 2px;
		}

		.rtotole{
			 font-size: .8rem;
   			 margin-bottom: 4px;
		}
		.rprice{
			color: #FF950B;
    		font-size: 1rem;
		}

		.rchengr-ul{
			margin-top: .5rem;
	    	width: 32rem;
	    	float: right;
			}